.accountsList {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__accountState {
    display: flex;
    &-total {
    }
    &-currency {
      margin-left: 15px;
      color: green;
    }
  }
  &__settings {
    padding: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s;
    &-title {
      margin: 0 10px;
    }
    &:hover {
      background: rgba(46, 125, 50, 0.5);
      cursor: pointer;
      transition: all 0.3s;
    }
  }
}
