.buttons {
  //text
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  //container
  display: flex;
  align-items: center;
  justify-content: center;
  width: 469px;
  height: 105px;
  border-radius: 70px;
  background: radial-gradient(
    3009.31% 100% at 0% 100%,
    #34e1ff 0%,
    #33fdfe 38.51%,
    #68fffe 67.27%,
    #adffff 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  opacity: 0.8;
  user-select: none;
  &:hover {
    border-radius: 70px;
    background: radial-gradient(
      3009.31% 100% at 0% 100%,
      #23344f 0%,
      #1b4a76 26.56%,
      #1a5681 68.75%,
      #0871ac 100%
    );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
  }
  &__auth {
    &:last-child {
      margin-top: 70px;
    }
  }


  &__login {
    font-size: 40px;
    padding: 15px;
    width: 250px;
    height: 50px;
  }
}
