@import url("../accountsList/accountsList.scss");
@import url("../currency/currency.scss");
.topBar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &__totalMoney {
    display: flex;
    align-items: center;
  }
  &__currency {
    display: flex;
    align-items: center;
  }
}
