.promo__topBar {
  display: flex;
  justify-content: flex-end;
  &_btns {
    margin: 30px 30px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    &-btn {
      &:first-child {
        margin-right: 30px;
      }
      &:hover {
        font-size: 22px;
      }
    }
  }
}
